* {
  border: 1px solid grey;
  margin: 0em;
}



#left-viewport {
  width: 33%;
  display: inline;
}

#left-viewport img {
  width: 33%;
}

#center-viewport {
  width: 33%;
  display: inline;
}

#center-viewport img {
  width: 33%;
}

#right-viewport {
  width: 33%;
  display: inline;
}

#right-viewport img {
  width: 33%;
}

#results-viewport {
  width: 100%;
  height: 100%
}

#study-results {
  width: 85%;
  height: 80%;
}
